absl-py==0.11.0
allure-pytest==2.8.6
allure-python-commons==2.8.6
aniso8601==9.0.1
apipkg==1.5
Appium-Python-Client==0.50
argcomplete==1.12.2
asgiref==3.2.3
asn1crypto==1.4.0
astunparse==1.6.3
atomicwrites==1.3.0
attrs==19.3.0
Automat==20.2.0
beautifulsoup4==4.9.3
blinker==1.4
Brotli==1.0.9
bs4==0.0.1
cachetools==4.2.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
colorama==0.4.3
ConfigArgParse==1.0
constantly==15.1.0
cryptography==2.4.2
cssselect==1.1.0
decorator==4.4.1
Django==2.0
et-xmlfile==1.0.1
execnet==1.7.1
fake-useragent==0.1.11
Flask==1.1.2
Flask-JWT-Extended==4.1.0
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.4
flatbuffers==1.12
gast==0.3.3
gevent==1.5a2
geventhttpclient-wheels==1.3.1.dev2
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
greenlet==0.4.15
grequests==0.6.0
grpcio==1.32.0
h11==0.12.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.8
importlib-metadata==3.4.0
incremental==17.5.0
iniconfig==1.1.1
install==1.3.4
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.1
jmespath==0.10.0
jsonpath==0.82
jsonpath-rw==1.4.0
jsonschema==3.2.0
kaitaistruct==0.8
Keras-Preprocessing==1.1.2
ldap3==2.6.1
locustio==0.14.4
lxml==4.4.2
Markdown==3.3.3
MarkupSafe==1.1.1
mock==3.0.5
more-itertools==8.2.0
msgpack-python==0.5.6
mysqlclient==2.0.1
namedlist==1.7
nose==1.3.7
numpy==1.19.5
oauthlib==3.1.0
openpyxl==3.0.2
opt-einsum==3.3.0
packaging==20.1
pandas==0.25.3
parse==1.19.0
parsel==1.6.0
passlib==1.7.4
pipx==0.16.0.0
pluggy==0.13.1
ply==3.11
Protego==0.1.16
protobuf==3.10.0
psutil==5.7.0
publicsuffix2==2.20191221
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
PyDispatcher==2.0.5
pydivert==2.1.0
PyHamcrest==2.0.2
PyJWT==2.0.1
PyMySQL==0.9.3
pyOpenSSL==19.0.0
pyparsing==2.4.6
pyperclip==1.7.0
pyquery==1.4.3
pyrsistent==0.17.3
pystache==0.5.4
pytest==5.4.0
pytest-assume==2.4.2
pytest-forked==1.1.3
pytest-html==2.0.1
pytest-metadata==1.8.0
pytest-mock==1.13.0
pytest-ordering==0.6
pytest-rerunfailures==8.0
pytest-xdist==1.30.0
python-dateutil==2.8.1
pytz==2019.3
pywin32==300
PyYAML==5.3
pyzmq==18.1.1
queuelib==1.5.0
requests==2.22.0
requests-oauthlib==1.3.0
requests-xml==0.2.3
rsa==4.6
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
Scrapy==2.4.1
selenium==3.141.0
service-identity==18.1.0
six==1.15.0
sortedcontainers==2.1.0
soupsieve==2.1
SQLAlchemy==1.3.0
sqlparse==0.3.0
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
toml==0.10.2
tornado==6.1
Twisted==20.3.0
typing-extensions==3.7.4.3
urllib3==1.25.7
urwid==2.0.1
userpath==1.4.2
utils==1.0.1
w3lib==1.22.0
wcwidth==0.1.8
Werkzeug==1.0.0
wrapt==1.12.1
wsproto==0.14.1
xlrd==1.2.0
xlutils==2.0.0
xlwt==1.3.0
xmindparser==1.0.8
xmljson==0.2.1
zipp==3.0.0
zope.interface==5.2.0
zstandard==0.12.0
